/*This is the affiliated CSS sheet for final_template.html.*/

h1, h3 {
	font-family: 'Georgia', serif;
}
p, .lead {
	font-family: 'Roboto', sans-serif;
}
button {
	margin-left: 10px;
}
.accordion {
	margin-bottom: 30px;
}
.accordion-button {
	background-color: black;
	color: orange;
	font-weight: bold;
}
.accordion-button:not(.collapsed) {
	background-color: black;
	color: orange;
	font-weight: bold;
}
.fixed-bottom {
	margin-left: 10px;
	margin-top: 30px;
	padding: 5px;
	text-align: center;
}
.toast {
	margin-bottom: 20px;
	margin-left: 10px;
}
.toast:not(.showing) {
	opacity: 100%;
}
small.text-muted {
	margin-left: 10px;
}
button.ml-2.mb-1.close {
	margin-left: 80px;
}