/*This is the answer sheet for final.css*/

section {
	/*border: 2px solid gray;*/
	margin: 10px;
	height: auto;
}

h3, p {
	margin-left: 10px;
	font-family: 'Georgia', serif;
}

.with-dataviz img {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}